body {
   background: #282828;
   font-family: tahoma;
   color: #fff;
}
h1 {
   margin: 20px 10%;
   font-size: 60px;
   letter-spacing: 10px;
}
.jam-digital {
   width: 70%;
   margin: 10% 30%;
}
#jam span {
   float: left;
   text-align: center;
   font-size: 70px;
   margin: 0 2.5%;
   padding: 20px;
   width: 15%;
   border-radius: 10px;
   box-sizing: border-box;
}
#jam span:nth-child(1) {
   background: #a70c0c;
}
#jam span:nth-child(2) {
   background: #f6ab29;
}
#jam span:nth-child(3) {
   background: #298f19;
}
#jam::after {
   content: "";
   display: block;
   clear: both;
}
#unit span {
   float: left;
   width: 20%;
   margin-top: 30px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   font-size: 18px;
   text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7)
}
span.turn {
   animation: turn 0.7s ease;
}
@keyframes turn {
   0% {transform: rotateX(0deg)}
   100% {transform: rotateX(360deg)}
}
